#hero {
  width: 100%;
  height: 85vh;
  background: #cff4ee;
  border-bottom: 2px solid #fcebe3;
  margin: 0 0 -72px 0;
}

.donate a{
  background: white;
  color: black;
  border: 2px solid #006B9C;
  padding:5px 7px 4.5px 0;
  border-radius:50px;
}
.donate a:hover{
  background: #00BFA6;
  color: white;
  border-color: #cff4ee;
}

.wave-container {
  position: relative;
  background: #fff;
  color: #cff4ee;
  text-align: center;
  overflow: hidden;
}

/* @keyframes animateWave {
  0% {
    transform: scale(1,0);
  }
  100% {
    transform: scale(1,1);
  }
}
.wave-container > svg {
  display: block;
  transform-origin: bottom;
  animation: animateWave 2300ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
} */

h2{
  font-size: 5vw;
 margin: 7rem 1.25rem 2.5rem 1.25rem;
}
 img{
   max-width: 100%;
 }

 [class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  p{
    font-size:3vw;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
